.example-card {
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

.example-header-image {
  background-image: url("https://www.citypng.com/public/uploads/preview/profile-user-round-red-icon-symbol-download-png-11639594337tco5j3n0ix.png");
  background-size: cover;
}
