<div class="logo text-center">
  <img width="300" src="assets/gymlogo.png" alt="">
</div>

<div class="registration-form m-3 p-4">
  <form [formGroup]="registrationForm">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" matInput placeholder="firstName">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>LastName</mat-label>
          <input formControlName="lastName" matInput placeholder="lastName">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput placeholder="email">
          <mat-icon matSuffix>mail_outline</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Mobile</mat-label>
          <input type="number" formControlName="mobile" matInput placeholder="mobile">
          <mat-icon matSuffix>mobile_screen_share</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Weight</mat-label>
          <input type="number" formControlName="weight" matInput placeholder="weight">
          <mat-icon matSuffix>line_weight</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Height</mat-label>
          <input [readonly]="!this.registrationForm.value?.weight" type="number" formControlName="height" matInput
            placeholder="height">
          <mat-icon matSuffix><i class="fa fa-text-height" aria-hidden="true"></i></mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>BMI</mat-label>
          <input readonly type="number" formControlName="bmi" matInput placeholder="BMI">
          <mat-icon matSuffix><i class="fa fa-sort-numeric-desc" aria-hidden="true"></i></mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>BMI Result</mat-label>
          <input readonly formControlName="bmiResult" matInput placeholder="BMI Result">
          <mat-icon matSuffix><i class="fa fa-check" aria-hidden="true"></i></mat-icon>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <label id="example-radio-group-label">Select Your Gender</label>
        <mat-radio-group formControlName="gender" aria-labelledby="example-radio-group-label"
          class="example-radio-group">
          <mat-radio-button class="example-radio-button" *ngFor="let gender of genders" [value]="gender">
            {{gender}}
          </mat-radio-button>
        </mat-radio-group>
        <div>Selected Gender is: {{this.registrationForm.value?.gender}}</div>
      </div>
      <div class="col-md-6">
        <label id="example-radio-group-label">Do you require Trainer?</label>
        <mat-radio-group formControlName="requireTrainer" aria-labelledby="example-radio-group-label"
          class="example-radio-group">
          <mat-radio-button class="example-radio-button" *ngFor="let trainerOpt of ['Yes', 'No']" [value]="trainerOpt">
            {{trainerOpt}}
          </mat-radio-button>
        </mat-radio-group>
        <div>Selected Option is: {{this.registrationForm.value?.requireTrainer}}</div>
      </div>

      <div class="col-md-6 mt-4">
        <mat-form-field appearance="outline">
          <mat-label>Select Package</mat-label>
          <mat-select formControlName="package">
            <mat-option *ngFor="let package of packages" [value]="package">
              {{package}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6 mt-4">
        <mat-form-field appearance="outline">
          <mat-label>Which of the following is important to you?
          </mat-label>
          <mat-select formControlName="important" multiple>
            <mat-option *ngFor="let important of importantList" [value]="important">{{important}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Have been Gym Before?</mat-label>
          <mat-select formControlName="haveGymBefore">
            <mat-option *ngFor="let beenGym of ['Yes', 'No']" [value]="beenGym">
              {{beenGym}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Enquiry Date</mat-label>
          <input formControlName="enquiryDate" matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

    </div>
    <button *ngIf="!isUpdateActive" (click)="submit()" mat-raised-button color="accent">Submit</button>
    <button *ngIf="isUpdateActive" (click)="update()" mat-raised-button color="accent">Update</button>
  </form>
</div>
